body {
    color: white;
    font-family: "Rubik", "Open Sans", "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-optical-sizing: auto;
    height: 100%;
}



.nav-link {
    text-decoration: none;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background: currentColor;
    transform: translateX(13%);
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 80%;
}

.skill-icon {
    width: 100px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.card {
    border-radius: 1rem;
}