body {
    color: white;
    font-family: "Segoe UI", "Roboto", "Rubik", "Open Sans", "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-optical-sizing: auto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.nav-link {
    text-decoration: none;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background: currentColor;
    transform: translateX(13%);
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 80%;
}

.skill-icon {
    width: 100px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.card {
    --bg-opacity: 1;
    --border-opacity: 0.5;
    background-color: rgba(34, 34, 34, var(--bg-opacity));
    border-width: 1px;
    border-color: rgba(64, 64, 64, var(--border-opacity));
    border-style: solid;
}



hr {
    border: none;
    height: 5px;
    background: linear-gradient(to right, #ffffff, #3d3a39);
}

.card-body {
    color: rgb(163, 163, 163);
    opacity: 1;
}

.card-title {
    color: white;
}

.coursework-text {
    color: rgb(163, 163, 163);
    opacity: 1;
}

h2 {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

h4 {
    color: white;
    padding-top: 2px;
    padding-bottom: 5px;
}

.card-subtitle {
    color: white;
}


/* Certificates */
.flip-card {
    perspective: 1000px;
    width: 100%; /* Ensures responsiveness */
    max-width: 350px; /* Sets a larger default width */
    height: 200px; /* Increases card height */
    margin: auto; /* Center horizontally */
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.flip-card-front {
    background-color: #343a40;
    color: white;
}
.flip-card-back {
    background-color: #495057;
    color: white;
    transform: rotateY(180deg);
}

.fixed-image {
    height: 205px;
    object-fit: contain;
    width: 100%;
    background-color: #f8f9fa;
    display: block;
}

#home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 30px 0;
}

.biography .row {
    display: flex;
    align-items: center;
}

.biography img {
    max-width: 200px;
    margin: 0 auto;
}

.biography .text-left {
    color: rgb(163, 163, 163);
    opacity: 1;
    font-size: 16px;
}

.biography h1 {
    color: white;
    opacity: 1;
}

.biography h4 {
    /* color: rgb(163, 163, 163); */
    color: white;
    opacity: 0.9;
}

.biography a {
    /* color: rgb(163, 163, 163); */
    opacity: 0.8;
    color: white;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
}

.icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020; /* Keeps it above other elements */
}

footer {
    color: rgb(163, 163, 163);
    opacity: 1;
}
